<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="w-full p-2 bg-blue-500">
        <nav class="w-full flex justify-between">
           <div class="self-center flex align-middle">
            <img src="/public/img/water.png" alt="water" class="w-7">
            <h1 class="text-white font-bold">Welcome</h1>
           </div>
            <ul class="flex justify-around gap-3 p-2 mr-2">
                <li><a href="/" class="nav-link text-blue-950 bg-blue-50 px-2 py-0.5 rounded-sm hover:text-blue-50 hover:bg-blue-400 ">Welcome</a></li>
                <li><a href="/home" class="nav-link text-blue-950 bg-blue-50 px-2 py-0.5 rounded-sm hover:text-blue-50 hover:bg-blue-400 ">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="flex justify-top align-top p-2">
            <form action="" class="w-50 flex-col gap-4 border-2 rounded-md  p-2">
                <label for="nameProduct" class="text-blue-950">Name</label>
                <input  name="nameProduct" id="nameProduct" type="text" class=" py-0.5 my-1 text-blue-500" placeholder="Name of the product" >
                <label for="capacityProduct" class="text-blue-950">Capacity</label>
                <input name="capacityProduct" id="capacityProduct" type="number" class=" py-0.5 my-1 text-blue-500"  placeholder="capacity in liters">
                <label for="costProduct" class="text-blue-950">Cost</label>
                <input name="costProduct" id="costProduct" type="number" class=" py-0.5 my-1 text-blue-500" placeholder="Cost of the product">
                <input id="btn-form" type="submit" value="Send" class="w-full text-white bg-blue-500 px-2 py-0.5 rounded-md " >
            </form>
        </section>
        <section>
            <div id="content" class="bg-blue-300 p-3 flex flex-wrap">
                    hola mundo
            </div>
        </section>
    </main>
</body>
</html>