<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <header class="w-full p-2 bg-blue-500">
        <nav class="w-full flex justify-between">
           <div class="self-center flex align-middle">
            <img src="/public/img/water.png" alt="water" class="w-7">
            <h1 class="text-white font-bold">Welcome</h1>
           </div>
            <ul class="flex justify-around gap-3 p-2 mr-2">
                <li><a href="/home" class="nav-link text-blue-950 bg-blue-50 px-2 py-0.5 rounded-sm hover:text-blue-50 hover:bg-blue-400 ">Home</a></li>
                <li><a href="/store" class="nav-link text-blue-950 bg-blue-50 px-2 py-0.5 rounded-sm hover:text-blue-50 hover:bg-blue-400 ">Store</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <figure>
            <img src="/public/img/glasses_of_waterjpg.jpg" alt="glasses of water">
        </figure>
        <section class="w-full p-5 flex gap-4 justify-around ">
            <article class="flex flex-col justify-center">
                <div class="text-center break-al  ml-10 mr-auto">
                    <h2 class="bg-blue-500 p-2 text-white font-bold">What is waterGlass</h2>
                    <p class="w-62  text-justify">This is a company that offer water to everyone, 
                        we have the best price and the best water of the world.
                    </p>    
                </div>
                <figure class="w-50 ml-16 mr-auto mt-3">
                    <img src="/public/img/main_GlassOfWater.jpg" alt="Glass of water">
                </figure>
            </article>
            <article class=" flex-col justify-center">
                <a href="/home" class="bg-blue-500 h-10 text-white py-2 px-4 rounded-md">Get started</a>
            </article>
        </section>
    </main>
    <footer class="h-20 bg-blue-500 text-white">
        <p class="w-25 mx-auto my-auto">Water Glass</p>
    </footer>
</body>
</html>